<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Add Admin</title>
  <link rel="stylesheet" href="../css/add_admin.css">
</head>
<body>
  <h1>Add User</h1>
  <form action="#" method="GET" enctype="multipart/form-data">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
    </div>
    <br>
    <div>
      <label for="id">ID:</label>
      <input type="text" id="id" name="id" required>
    </div>
    <div>
        <br>
      <label for="position">Position:</label>
      <select id="position" name="position" required>
        <option value="admin">Admin</option>
        <option value="client">Client</option>
      </select>
    </div>
    <div>
        <br>
      <label for="picture">Picture:</label>
      <input type="file" id="picture" name="picture">
    </div>
    <br>
    <div>
      <input class="adduser" type="submit" value="Add">
    </div>
  </form>
</body>
</html>
