<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/css/Cruises-style.css">
  <link rel="stylesheet" type="text/css" href="/css/nav.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="website icon" type="png" href="/images/Ship-icon.png">
  <meta charset="UTF-8">
  <title>Cruises</title>

</head>
<%- include("./partials/nav.ejs") %>
  <br>
  <header>
    <h1>Cruises</h1>
  </header>

  <body class="container">
    
    <div class="background-image">
      <div class="content">
        <h1>Welcome to our Cruises</h1>
      </div>
    </div>
    </section>
    <div class="filter-container">
      <div>
        <div class="dropdowns">
          <div class="dropdown">
            <button class="dropbtn">Where to?</button>
            <div class="dropdown-content">
              <a href="#">Caribbean</a>
              <a href="#">Bahamas</a>
              <a href="#">Hawaii</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropbtn">Departure Month</button>
            <div class="dropdown-content">
              <a href="#">January</a>
              <a href="#">February</a>
              <a href="#">March</a>
            </div>
          </div>
        </div>
      </div>
      <button class="filter-btn">Filter</button>
    </div>
    <br>
    <br>
    <h2>Featured Cruise Deals</h2>
    <section class="cruise-deals">
      <div class="cruise-row">
        <div class="cruise-box">
          <div class="cruise-info">
            <img src="/images/yacht.jpg" class="cruise-image">
            <div class="cruise-details">
              <h3>7 Night Nile River Cruise in Egypt</h3>
              <p>Ship: Nile Cruise</p>
              <p>Suite Sailing Date: 4/15/2023</p>
              <p>Departs: Luxor</p>
            </div>
          </div>
          <div class="cruise-price">
            <p><span class="cruise-sale-price">EGP 130,433</span> EGP 32,202</p>
          </div>
          <!-- <a href="/Cruise/Cruise1"><button class="view-cruise">View Cruise</button></a> -->
          <button class="view-cruise">View Cruise</button>
          <div class="rating">
            <input type="radio" id="star5" name="rate" value="5">
            <label for="star5" title="text"></label>
            <input type="radio" id="star4" name="rate" value="4">
            <label for="star4" title="text"></label>
            <input checked="" type="radio" id="star3" name="rate" value="3">
            <label for="star3" title="text"></label>
            <input type="radio" id="star2" name="rate" value="2">
            <label for="star2" title="text"></label>
            <input type="radio" id="star1" name="rate" value="1">
            <label for="star1" title="text"></label>
          </div>
          <input type="checkbox" checked="checked" id="favorite" name="favorite-checkbox" value="favorite-button">
          <label for="favorite" class="container">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-heart">
              <path
                d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
              </path>
            </svg>
            <div class="action">
              <span class="option-1">Add to Favorites</span>
              <span class="option-2">Added to Favorites</span>
            </div>
          </label>
        </div>

        <div class="cruise-box">
          <div class="cruise-info">
            <img src="/images/yacht.jpg" class="cruise-image">
            <div class="cruise-details">
              <h3>20 Night Nile River Cruise in Egypt</h3>
              <p>Ship: Nile Cruise</p>
              <p>Suite Sailing Date: 4/15/2023</p>
              <p>Departs: Luxor</p>
            </div>
          </div>
          <div class="cruise-price">
            <p><span class="cruise-sale-price">EGP 102,382</span> EGP 23,870</p>
          </div>
          <button class="view-cruise">View Cruise</button>

          <div class="rating">
            <input type="radio" id="star5" name="rate" value="5">
            <label for="star5" title="text"></label>
            <input type="radio" id="star4" name="rate" value="4">
            <label for="star4" title="text"></label>
            <input checked="" type="radio" id="star3" name="rate" value="3">
            <label for="star3" title="text"></label>
            <input type="radio" id="star2" name="rate" value="2">
            <label for="star2" title="text"></label>
            <input type="radio" id="star1" name="rate" value="1">
            <label for="star1" title="text"></label>
          </div>
          <input type="checkbox" checked="checked" id="favorite" name="favorite-checkbox" value="favorite-button">
          <label for="favorite" class="container">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-heart">
              <path
                d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
              </path>
            </svg>
            <div class="action">
              <span class="option-1">Add to Favorites</span>
              <span class="option-2">Added to Favorites</span>
            </div>
          </label>
        </div>

      </div>

      <div class="cruise-row">
        <div class="cruise-box">
          <div class="cruise-info">
            <img src="/images/yacht.jpg" class="cruise-image">
            <div class="cruise-details">
              <h3>11 Night Nile River Cruise in Egypt</h3>
              <p>Ship: Nile Cruise</p>
              <p>Suite Sailing Date: 4/15/2023</p>
              <p>Departs: Luxor</p>
            </div>
          </div>
          <div class="cruise-price">
            <p><span class="cruise-sale-price">EGP 214,862</span> EGP 52,835</p>
          </div>
          <button class="view-cruise">View Cruise</button>
          <div class="rating">
            <input type="radio" id="star5" name="rate" value="5">
            <label for="star5" title="text"></label>
            <input type="radio" id="star4" name="rate" value="4">
            <label for="star4" title="text"></label>
            <input checked="" type="radio" id="star3" name="rate" value="3">
            <label for="star3" title="text"></label>
            <input type="radio" id="star2" name="rate" value="2">
            <label for="star2" title="text"></label>
            <input type="radio" id="star1" name="rate" value="1">
            <label for="star1" title="text"></label>
          </div>
          <input type="checkbox" checked="checked" id="favorite" name="favorite-checkbox" value="favorite-button">
          <label for="favorite" class="container">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-heart">
              <path
                d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
              </path>
            </svg>
            <div class="action">
              <span class="option-1">Add to Favorites</span>
              <span class="option-2">Added to Favorites</span>
            </div>
          </label>
        </div>

        <div class="cruise-box">
          <div class="cruise-info">
            <img src="/images/yacht.jpg" class="cruise-image">
            <div class="cruise-details">
              <h3>6 Night Nile River Cruise in Egypt</h3>
              <p>Ship: Nile Cruise</p>
              <p>Suite Sailing Date: 4/15/2023</p>
              <p>Departs: Luxor</p>
            </div>
          </div>
          <div class="cruise-price">
            <p><span class="cruise-sale-price">EGP 71,375</span> EGP 17,577</p>
          </div>
          <button class="view-cruise">View Cruise</button>

          <div class="rating">
            <input type="radio" id="star5" name="rate" value="5">
            <label for="star5" title="text"></label>
            <input type="radio" id="star4" name="rate" value="4">
            <label for="star4" title="text"></label>
            <input checked="" type="radio" id="star3" name="rate" value="3">
            <label for="star3" title="text"></label>
            <input type="radio" id="star2" name="rate" value="2">
            <label for="star2" title="text"></label>
            <input type="radio" id="star1" name="rate" value="1">
            <label for="star1" title="text"></label>
          </div>
          <input type="checkbox" checked="checked" id="favorite" name="favorite-checkbox" value="favorite-button">
          <label for="favorite" class="container">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-heart">
              <path
                d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
              </path>
            </svg>
            <div class="action">
              <span class="option-1">Add to Favorites</span>
              <span class="option-2">Added to Favorites</span>
            </div>
          </label>
        </div>

      </div>



      <br>
    </section>

    <div class="explore-container">
      <div class="explore-text">
        <i class="fas fa-ship"></i>
        <h2>Explore Ship‑tinerary™ pages</h2>
        <p>Select a ship to see ship details, reviews, photos and itineraries</p>
      </div>
      <div class="explore-text">
        <i class="fas fa-pen"></i>
        <h2>Write cruise reviews</h2>
        <p>Share your opinion with our travel community</p>
      </div>
      <div class="explore-text">
        <i class="fas fa-dollar-sign"></i>
        <h2>The lowest cruise prices</h2>
        <p>Search cruise deals from sites with just one search</p>
      </div>
    </div>

    <div class="cruising-guide">
      <h2>Cruising Guide</h2>
      <p>If you have a place on your bucket list, chances are, a cruise will get you there. Cruises cover the
        world,
        taking millions of passengers each year to destinations like the Caribbean, the Bahamas, Alaska, Europe,
        the
        Mediterranean and even Antarctica. Cruising offers a tremendous value, with trips that include your
        lodging,
        meals and entertainment, all rolled into one. Some cruise lines even offer fully inclusive vacations,
        which
        cover drinks and tours ashore. Cruising means seeing the world while unpacking only once.</p>

      <p>Cruises also provide a wonderful option for families, with many ships offering things like waterslides,
        mini-golf courses and fun clubs for kids and teens -- all for free. Planning is easy: Pick your
        destination
        and the right ship for you. The cruise line makes it simple, offering packages to help you save on
        extras
        like alcohol, shore tours or even airfare.</p>

      <p>Travelers say they choose to cruise because cruising often costs less per night when compared with
        staying at
        a hotel, where they'll have to book -- and pay for -- all their extras.</p>

      <h3>Tips for Finding Cheap Cruises</h3>
      <p>If you're a flexible traveler, you'll have a better chance of finding cheap cruises. Take a cruise that
        doesn't sail over the summer or holidays, when prices are highest. Book an inside cabin, or take your
        chances with a "guarantee cabin," ideal for passengers who aren't picky about their cabins but really
        want
        the lowest price available. Book cabins on lower decks, which often come with lower prices than those
        rooms
        on higher floors.</p>

      <p>Cruise lines such as MSC Cruises, Carnival Cruise Line, Norwegian Cruise Line and Royal Caribbean
        International offer rates that might drop as low as $75 per person per night -- and sometimes lower.
        Here's
        a tip: Many times, the smaller ships from these lines offer the smallest prices.</p>

      <p>If you want a real bargain, consider a transatlantic or repositioning cruise. These cruises are one-way
        or
        open-jaw trips, that start in one port and finish at another. You can score a deal sailing from Florida
        to
        Europe, for example, or even from New York to Florida. Just be aware, you'll probably have to pay a bit
        more
        for airfare to return.</p>

      <h3>Tips to Finding Last-Minute Cruise Deals</h3>
      <p>Being flexible will get you the best last-minute cruise deals. If you live near a cruise port and can
        drive,
        you're probably going to be able to jump on those deals that might pop up a week or two before the ship
        is
        set to sail.</p>

      <p>If you don't have flexibility with dates and locations, be willing to bend on destination. This will
        allow
        you to find a wider range of last-minute deals traveling to locations in their off-season or shoulder
        season.</p>

      <p>Do plenty of research and know what your ideal cruise costs on average. When you see it drop, pounce!
        Many
        cruise lines update pricing several times every day, so be prepared.</p>
    </div>

  </body>
  <br>
  <footer>
    <p><i class="fas fa-ship"></i> &copy; 2023 GoEgy. All Rights Reserved.</p>
  </footer>

  <script src="../js/js-cruises.js">

  </script>

</html>