<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
  <link rel="stylesheet" type="text/css" href="/css/nav.css">
</head>
<body style="text-align: center;">
  <%- include("./partials/nav.ejs") %>
  <br>
  <h1 style="margin-top: 20%;"><%= err %></h1>
  
</body>
</html>