<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/flight.css">
</head>
<header>
    <%- include("./partials/nav.ejs") %>
</header>

<body>
    <div>
        <h2 class="cairo">FLIGHTS</h2>
        <h2 class="c">high above the sky</h2>
        <img class="d-block w-100" src="/images/flight.jpg" alt="Hotel 2">
    </div>
    <br>
    <form onsubmit="searchFlights(event)" method="post" action="/flight/search">
        <label for="from">From:</label>
        <input type="text" id="from" name="from">

        <label for="to">to:</label>
        <input type="text" id="to" name="to">

       
        <label for="price">Price:</label>
        <input type="number" id="price" name="price">

        <button type="submit">Search</button>
    </form>

    <section id="search-results">
  
    </section>

    

</body>

<footer>
    <p><i class="fa fa-plane" aria-hidden="true"></i> &copy; 2023 GoEgy. All Rights Reserved.</p>
</footer>





</html>
