<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GoEgy Tours</title>
  <link rel="stylesheet" href="F.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />


  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/nav.css">
</head>
<header>
  <h1 style="font-size:50px;">Hotels</h1>
</header>
<header>
  <%- include("./partials/nav.ejs") %>
</header>

<body>

  <!-- <div class="main_image">
    <div class="main_text">
      <h1>Egypt Hotels and Places to Stay in <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
          fill="currentColor" class="bi bi-geo-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z" />
        </svg></h1>
      <p>Enter dates to find the best prices </p>

    </div>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label style="color: aliceblue ;" for="checkin-date">Check-In Date</label>
          <input type="date" class="form-control" id="checkin-date">
        </div>
        <div class="form-group col-md-6">
          <label style="color: aliceblue ;" for="checkout-date">Check-Out Date</label>
          <input type="date" class="form-control" id="checkout-date">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label style="color: aliceblue ;" for="rooms-select">Rooms</label>
          <select class="form-control" id="rooms-select">
            <option selected>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label style="color: aliceblue ;" for="adults-select">Adults</label>
          <select class="form-control" id="adults-select">
            <option selected>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label style="color: aliceblue ;" for="children-select">Children</label>
          <select class="form-control" id="children-select">
            <option selected>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-4"><button type="submit" class="upbutton">Update</button></div>

    </form>

  </div>
  <br>
  <br>
  <div class="pages_links">

    <ul class="list-left">
      <li><a style="text-decoration: none ;color: black;padding-left: 80px;" href="Redsea.html"><b>RedSea</b> </a>
      </li>
    </ul>
    <ul class="list-right">
      <li><a style="text-decoration: none ;color: black;padding-left: 80px;" href="Redsea.html"><b>El-Sokhna</b> </a>
      </li>
    </ul>

    <ul class=" list-left">
      <li><a style="text-decoration: none ;color: black; padding-bottom: 20px;padding-left: 80px;"
          href="luxor&Aswan.html"><b> Luxor</b></a>
      </li>
    </ul>
    <ul class="list-right">
      <li><a style="text-decoration: none ;color: black;padding-left: 80px;" href="sinai.html"><b>Sinai</b></a>
      </li>
    </ul>
    <ul class="list-left">
      <li><a style="text-decoration: none ;color: black;padding-left: 80px;" href="Redsea.html"><b>Aswan</b> </a>
      </li>
    </ul>

    <ul class="list-right">
      <li><a style="text-decoration: none ;color: black;padding-left: 80px;" href="alex.html"><b>Alexandria</b></a></li>
    </ul>

  </div> -->
  <section class="highly-rated-hotels">
    <h2>Highly Rated Hotels</h2>
    <div class="hotel-list">
      <div class="hotel">
        <img style="height: 250px;" src="/images/llll.jpeg">
        <h3>Marriot</h3>
      </div>
      <section class="rating">


      </section>
      <div class="hotel">
        <a href="#"><img style="height: 250px;" src="/images/h8.jfif"></a>
        <h3>Pick Albtros LongBeach</h3>

      </div>
      <div class="hotel">
        <a href="#"><img style="height: 250px;" src="/images/h2.jfif"></a>
        <h3>Titanic</h3>


      </div>
      <div class="hotel">
        <a href="#"><img style="height: 250px;" src="/images/ke.jpg"></a>
        <h3>Kempenski</h3>


      </div>
      <div class="hotel">
        <a href="#"><img style="height: 250px;" src="/images/rooftop-pool-during-sunset.jpg"></a>
        <h3>Panorama bungalows El-Gouna</h3>

      </div>
      <div class="hotel">
        <a href="#"><img style="height: 250px;" src="/images/IBERTOTEL.jpg"></a>
        <h3>Sindbad Club</h3>


      </div>
      <div class="hotel">
        <a href="#"><img style="height: 250px;" src="/images/steigenberger-nile-palace.jpg"></a>
        <h3>Palm Beach</h3>


      </div>
      <div class="hotel">
        <a href="#"><img style="height: 250px;" src="/images/royal-savoy-hotel-and.jpg"></a>
        <h3>Selens Bay</h3>

      </div>

    </div>
  </section>
  <br>
  <h3> Hot <span style="color: reD;"> Deals </span><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
      fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
      <path
        d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z" />
    </svg> </h3>
  <section class="hotel_deals">
    <div class="hotel-row">
      <div class="hotel-box">
        <h3>Titanic</h3>
        <a href="#"><img style="width: 300px; height: 250px;" src="/images/pexeeee.jfif" alt=""></a>
        <div class="hotel-details">
          <p>Detials :</p>
          <p>5 Stars Hotel since 1995</p>
          <p> This offer for double bedroom Per Night</p>
        </div>
        <div class="hotel-price">
          <p><span class="hotel-sale-price"> EGP 1700,00</span> EGP 1250,00</p>
        </div>
        <div class="picture-rating">
          <h3>Picture Title</h3>
          <div class="rating-bar">
            <input type="radio" id="star5" name="rating" value="5" />
            <label for="star5" title="5 stars"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label for="star4" title="4 stars"><i class="fa fa-star" aria-hidden="true"> </i>
            </label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label for="star3" title="3 stars"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label for="star2" title="2 stars"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label for="star1" title="1 star"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
          </div>
        </div>
        <a href="/hotel/hoteltitanic"><button class="view-hotel">View deal</button></a>

      </div>

      <div class="hotel-box">
        <h3>ShtigenBurger</h3>
        <a href="#"><img style="width: 300px; height: 250px;" src="/images/sofital.jpg" alt=""></a>
        <div style="padding-left: 70px;" class="hotel-details">
          <p>Detials :</p>
          <p>5 stars hotel since 2000</p>
          <p> This offer for single bedroom Per Night Not full exclusive</p>
        </div>
        <div class="hotel-price">
          <p><span class="hotel-sale-price">EGP 1950,00 </span> EGP 1000,00</p>
        </div>
        <div class="picture-rating">
          <h3>Picture Title</h3>
          <div class="rating-bar">
            <input type="radio" id="star5" name="rating" value="5" />
            <label for="star5" title="5 stars"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label for="star4" title="4 stars"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label for="star3" title="3 stars"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label for="star2" title="2 stars"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label for="star1" title="1 star"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
          </div>
        </div>

        <button class="view-hotel">View Deal</button>
      </div>
    </div>

    <div class="hotel-row">
      <div class="hotel-box">
        <h3>Marriot</h3>
        <a href="#"><img style="width: 300px; height: 250px;" src="/images/jjj.jpg" alt=""></a>
        <div style="padding-left: 70px;" class="hotel-details">
          <p>Details</p>
          <p>4 stars hotel since 2004</p>
          <p>This offer for triple bedroom per night full exclusive</p>
        </div>
        <div class="hotel-price">
          <p><span class="hotel-sale-price">EGP 3150,00 EGP </span> 2500,00</p>
        </div>
        <div class="picture-rating">
          <h3>Picture Title</h3>
          <div class="rating-bar">
            <input type="radio" id="star5" name="rating" value="5" />
            <label for="star5" title="5 stars"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label for="star4" title="4 stars"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label for="star3" title="3 stars"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label for="star2" title="2 stars"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label for="star1" title="1 star"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
          </div>
        </div>
        <a href="/hotel/hoteltitanic"><button class="view-hotel">View deal</button></a>
      </div>

      <div class="hotel-box">
        <h3>Hilton</h3>
        <a href="#"><img style="width: 300px; height: 250px;" src="/images/exterior.jpg" alt=""></a>
        <div style="padding-left: 70px;" class="hotel-details">
          <p>detials :</p>
          <p>5 stars hotel since 1999 </p>
          <p> this offer for single bedroom per night not full exclusive</p>
        </div>
        <div style="padding-left: 200px;" class="hotel-price">
          <p><span class="hotel-sale-price">EGP 1200,00 </span> EGP 800,00</p>
        </div>
        <div class="picture-rating">
          <h3>Picture Title</h3>
          <div class="rating-bar">
            <input type="radio" id="star5" name="rating" value="5" />
            <label for="star5" title="5 stars"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label for="star4" title="4 stars"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label for="star3" title="3 stars"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label for="star2" title="2 stars"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label for="star1" title="1 star"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
          </div>
        </div>
        <a href="/hotel/hotelhilton"><button class="view-hotel">View deal</button></a>
      </div>
    </div>

    <div class="hotel-row">
      <div class="hotel-box">
        <h3>Makadi Bay</h3>
        <a href="#"> <img style="width: 300px; height: 250px;" src="/images/klkl.peg.jpeg" alt=""></a>
        <div style="padding-left: 80px;" class="hotel-details">
          <p>detials :</p>
          <p>5 stars hoel since 2007</p>
          <p>This offer for double bedroom per 2 nights not full exclusive</p>
        </div>
        <div class="hotel-price">
          <p><span class="hotel-sale-price">EGP 4500,00 </span> EGP 2200,00</p>
        </div>
        <div class="picture-rating">
          <h3>Picture Title</h3>
          <div class="rating-bar">
            <input type="radio" id="star5" name="rating" value="5" />
            <label for="star5" title="5 stars"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label for="star4" title="4 stars"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label for="star3" title="3 stars"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label for="star2" title="2 stars"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label for="star1" title="1 star"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
          </div>
        </div>
        <button class="view-hotel">View Deal
        </button>
      </div>
      <div class="hotel-box">
        <h3>Kempenski</h3>
        <a href="#"> <img style="width: 300px; height: 250px;" src="/images/wwaw.jpeg" alt=""></a>
        <div style="padding-left: 70px;" class="hotel-details">
          <p>detials :</p>
          <p>4 stars hotel since 2006</p>
          <p>This offer for triple bedroom per 3 nights full exclusive</p>
        </div>
        <div class="hotel-price">
          <p><span class="hotel-sale-price"> EGP 6000,00</span>EGP 4000,00</p>
        </div>
        <div class="picture-rating">
          <h3>Picture Title</h3>
          <div class="rating-bar">
            <input type="radio" id="star5" name="rating" value="5" />
            <label for="star5" title="5 stars"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label for="star4" title="4 stars"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label for="star3" title="3 stars"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label for="star2" title="2 stars"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label for="star1" title="1 star"><i class="fa fa-star" aria-hidden="true"></i>
            </label>
          </div>
        </div>
        <button class="view-hotel">View Deal</button>
      </div>
    </div>
  </section>
  <section class="rating">



</body>
<footer style="text-align: center;">
  <p><i class="fas fa-building"></i> &copy; 2023 GoEgy. All Rights Reserved.</p>
</footer>