<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="/css/login.css">
   <link rel="stylesheet" href="/css/nav.css" />
   <title>Login</title>
   <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
   <script>
      function validateLoginForm(form) {
         var email = form.email.value;
         var password = form.password.value;
         var valid = true;

         if (email.trim() === "") {
            document.getElementById("emailErr").innerHTML = "Please enter your email address.";
            valid = false;
         } else {
            document.getElementById("emailErr").innerHTML = "";
         }

         if (password.trim() === "") {
            document.getElementById("passwordErr").innerHTML = "Please enter your password.";
            valid = false;
         } else {
            document.getElementById("passwordErr").innerHTML = "";
         }

         if (!email.trim() && !password.trim()) {
            document.getElementById("emailErr").innerHTML = "Please enter your email address.";
            document.getElementById("passwordErr").innerHTML = "Please enter your password.";
            valid = false;
         }

         return valid;
      }


   </script>
</head>
<div class="nav-pos"><%- include("./partials/nav.ejs") %></div>
<br><br>

<body>
   <div class="wrapper">
      <div class="title">
         Login
      </div>
      <form action="/login/login" method="POST" onsubmit="return validateLoginForm(this)">
         <div class="field">
            <input type="text" id="email" name="email">
            <label>Email</label>
         </div>
         <div id="emailErr" class="err"></div>
         <div class="field">
            <input type="password" id="password" name="password">
            <label>Password</label>
         </div>
         <div id="passwordErr" class="err"></div>
         <div class="content">
            <!-- <div class="checkbox">
               <input type="checkbox" id="remember-me">
               <label for="remember-me">Remember me</label>
            </div> -->
            <div class="pass-link">
               <h5>Forgot password?</h5>
               <a href="/login/forgotPass">Reset password</a>
            </div>
         </div>
         <div class="field">
            <input type="submit" value="Login">
         </div>
         <div class="signup-link">
            Not a member? <a href="/signup">Signup now</a>
         </div>
      </form>
   </div>
   <br>
   <div id="loginErrorMessage" class="err">
      <% if (typeof errorMessage !=='undefined' ) { %>
         <%= errorMessage %>
            <% } %>
   </div>
</body>

</html>