<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wishlist</title>

  <link rel="stylesheet" href="/public/css/wishlist.css">
</head>
<body>
  <header>
    <h1>Wishlist</h1>
  </header>
  <main>
    <section class="wishlist-container">
      <h2>Hotels</h2>
      <div class="wishlist-items">
        <!-- Hotel wishlist items go here -->
        <div class="wishlist-item">
          <img src="hotel1.jpg" alt="Hotel 1">
          <div class="item-details">
            <h3>Hotel 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button class="remove-item">Remove</button>
          </div>
        </div>
        <div class="wishlist-item">
          <img src="hotel2.jpg" alt="Hotel 2">
          <div class="item-details">
            <h3>Hotel 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button class="remove-item">Remove</button>
          </div>
        </div>
      </div>
    </section>

    <section class="wishlist-container">
      <h2>Tours</h2>
      <div class="wishlist-items">
        <!-- Tour wishlist items go here -->
        <div class="wishlist-item">
          <img src="tour1.jpg" alt="Tour 1">
          <div class="item-details">
            <h3>Tour 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button class="remove-item">Remove</button>
          </div>
        </div>
        <div class="wishlist-item">
          <img src="tour2.jpg" alt="Tour 2">
          <div class="item-details">
            <h3>Tour 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button class="remove-item">Remove</button>
          </div>
        </div>
      </div>
    </section>
  </main>
  <br>
 
  <footer>
    <p>&copy; 2023 Tours Managment. All Rights Reserved.</p>
  </footer>
</body>

</html>
