nav {
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  
  
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
  padding-right: 85px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul li:hover>ul {
  display: block;
}

nav ul li:hover a {
  color: #f1f1f1;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 10px 0;
  border: 1px solid #333;
  border-radius: 5px;
  z-index: 9999;
}

.dropdown-menu li {
  display: block;
  margin: 0;
}

.dropdown-menu li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 20px;
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #f1f1f1;
}
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 50px;

}

h1 {
  text-align: center;
}
body, html {
  height: 100%;
}

/* The hero image */
.main_image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("PIC/ppp.jpg");


/* Set a specific height */
height: 70%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

/* Place text in the middle of the image */
.main_text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}


form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-left: 1100px;
  padding-top: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

label {
  margin-bottom: 10px;
  font-size: 18px;
}

input,
select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
  
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align:center;
left: auto;
right: 0;
background-color: #fff;
background-clip: padding-box;
border: 1px solid rgba(0,0,0,0.15);
border-radius: 0.25rem;
}

.dropdown-item {
display: block;
width: 100%;
padding: 0.25rem 1.5rem;
clear: both;
font-weight: 400;
color: #212529;
text-align: inherit;
white-space: nowrap;
background-color: transparent;
border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
color: #fff;
text-decoration: none;
background-color: #007bff;
}

.dropdown-toggle::after {
display: inline-block;
width: 0;
height: 0;
margin-left: 0.255em;
vertical-align: 0.255em;
content: "";
border-top: 0.3em solid;
border-right: 0.3em solid transparent;
border-bottom: 0;
border-left: 0.3em solid transparent;
}

.dropdown-toggle:focus {
outline: none;
}

.dropdown-toggle:hover {
color: #fff;
text-decoration: none;
background-color: #007bff;
}

.dropdown:hover .dropdown-menu {
display: block;
}

.dropdown-item.active,
.dropdown-item:active {
color: #fff;
text-decoration: none;
background-color: #007bff;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
color: #6c757d;
pointer-events: none;
background-color: transparent;
}
.upbutton{ 

  text-align: center;
  margin-top: 40px;
 
}
.pages_links{
  padding: 20px;
  margin: 0px auto;
 border: 10px  rgb(255, 255, 255); 
 border-collapse: collapse;
height: 150px;
text-decoration: none;
width: 200px;
font-size: large;




}
.pages_links:hover
{
  color: #f1f1f1;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.pages_links {
  background-color: rgb(255, 255, 255);
  max-width: 1500px;
  margin: 0px  auto;
  width: 100%;
  padding-right: 20px;

}

.list-left {
  float: left;
  width: 50%;
  
}

.list-right {
  float: right;
  width: 50%;
}

.list-left li,
.list-right li {
  display: inline-block;
  margin-right: 10px;
}

.list-left li:last-child,
.list-right li:last-child {
  margin-right: 0;
}
body
{

  background-color: rgb(221, 221, 221);
}

 
.highly-rated-hotels {
  text-align: center;
  width: 100%;
  height: 100%;
}

.hotel-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.hotel {
  width: 22%;
  margin-bottom: 30px;
}

.hotel img {
  width: 100%;
  border-radius: 5px;
}

.hotel h3 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}.hotel p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #888;
}

@media screen and (max-width: 768px) {
  .hotel {
    width: 48%;
  }
}
 
.featured-cruise {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;

}

.hotel-info {
  flex: 1;
}

.hotel-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.hotel-details {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.hotel-price {
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.hotel-sale-price {
  font-size: 20px;
  color: #f00;
  font-weight: bold;
}

.view-hotel-btn {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.view-hotel-btn:hover {
  background-color: #f00;
}

.hotel-deals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hotel-row {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.hotel-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(50% - 40px);
  padding: 20px;
  border: 1px solid #ddd;
  margin: 0 20px 20px 0;
}

.hotel-box:nth-child(2n) {
  margin-right: 0;
}

.hotel-box h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.hotel-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.hotel-details p {
  margin: 5px 0;
  padding-left: 15px;
}

.hotel-price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
  margin-bottom: 10px;
  padding-left: 200px;
}

.hotel-price p {
  font-size: 20px;
  margin: 0;
  
}

.view-hotel {
  background-color: #ffc906;
  color: #fdfdfd;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.view-hotel:hover {
  background-color: #222;
}

.hotel-sale-price {
  color: red;
  text-decoration: line-through;
  margin-right: 10px;
}

.hotel-sale-price span {
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid red;
  padding-bottom: 2px;
}
.highly-rated-hotel
{

  padding-bottom: 1000px;
}
h3{

  text-align: center;
  
}
footer{

  text-align: center;
}
.picture-rating {
  text-align: center;
  margin: 20px 0;
}

.rating-bar {
  display: inline-block;
  margin: 10px 0;
}

.rating-bar input[type="radio"] {
  display: none;
}

.rating-bar label {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
}

.rating-bar label:hover,
.rating-bar label:hover ~ label,
.rating-bar input[type="radio"]:checked ~ label {
  color: orange;
}
.bi bi-geo-fill
{



}